lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

*.js

# node_modules
test.ts

tests/output/*.output

# exceptions
!Gruntfile.js
!src/typescript-adapter.js
!src/typescript/typescript.js
!bin/*.js
!bin/*/*.js
!bin/*/*/*.js
!bin/*/*/*/*.js
!tests/runner.js
!tests/qunit/*.js
!src/cli-render/terminal-color.js